pip==1.5.6
--editable=git://github.com/mdp-toolkit/mdp-toolkit#egg=mdp
#$ pip install --editable=git://github.com/mdp-toolkit/mdp-toolkit#egg=mdp --exists-action=w
setuptools==5.7
cffi==0.8.6
Scrapy==0.22.2
Twisted==14.0.0
cssselect==0.9.1
lxml==3.3.5
numpy==1.8.2
--editable=https://python-progressbar.googlecode.com/files/progressbar-2.3.tar.gz
pyOpenSSL==0.14
python-dateutil==2.2
queuelib==1.1.1
six==1.6.1
tabulate==0.7.1
w3lib==1.5
zope.interface==4.0.5
ipython
numpy
matplotlib
NLTK
scrapy
fuzzywuzzy
regex
beautiful soup
Distance
will
pug

